#game.container{role: "main", "ng-controller" => "GameController"}
  .alert.alert-danger{role: "alert", "ng-if" => 'disconnectedBy'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Error:
    You've been disconnected by {{ disconnectedBy }}

  #gameMessages{"scroll-glue" => true}
    %div{"ng-repeat" => "message in gameMessages"}
      [{{ formatTime(message.time) }}] {{ message.message }}

  #currentStatus
    .turn Current turn: {{ game.turn }}
    .decision {{ formatDecision(game) }}

    .alert.alert-danger{role: "alert", "ng-if" => 'choiceError'}
      %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
      %span.sr-only Error:
      Choice failed because {{ choiceError }}

    %div{"ng-if" => "choiceToConfirm"}
      Please confirm your choice of {{ labelToConfirm }} and add any targets.

      %div
        Current targets:
        %span{class: "label label-default", "ng-repeat" => "arg in choiceArgs"}
          {{ arg.type }}: {{ arg.value }}
          %a{"ng-click" => "deleteArg($index)"} (x)

      %button.btn.btn-sm.btn-primary{"ng-click" => "confirmChoice()"} Confirm
      %button.btn.btn-sm.btn-danger{"ng-click" => "resetChoice()"} Cancel

    %table.table.table-condensed{"ng-if" => "!choiceToConfirm"}
      %tr{"ng-repeat" => "(label, choice) in game.my_choices"}
        %td{"ng-if" => "choice.available"}
          %button.btn.btn-sm.btn-primary{"ng-click" => "makeChoice(label, choice)"} {{ label }}
        %td{"ng-if" => "!choice.available"}
          %button.btn.btn-sm.btn-default{disabled: true, "ng-if" => "!choice.available"} {{ label }}
        %td
          {{ choice.available ? choice.description : choice.why_unavailable }}

    %button.btn.btn-danger{"ng-if" => "game.winner || !game.my_username", "ng-click" => "leaveGame()"} Leave Game

  #gamePlayers
    %table.table.table-condensed
      %tr
        %th Name
        %th Coins
        %th Cards
        %th Tokens
      %tr{"ng-repeat" => "player in game.players"}
        %td
          %a{"ng-if" => "choiceToConfirm", "ng-click" => "addPlayerArg(player)"} {{ player.username }}
          %span{"ng-if" => "!choiceToConfirm"} {{ player.username }}
        %td {{ player.coins }}
        %td
          %span.label.label-default{"ng-repeat" => "card in player.cards"}
            {{ card.role || "Unknown" }}
            {{ card.claimed_role ? "(Claimed " + card.claimed_role + ")" : "" }}
        %td
          %span.label.label-default{"ng-repeat" => "token in player.tokens"}
            {{ token }}

  %h1{"ng-if" => "game.my_cards"} My cards
  #gameMyCards
    %span.label.label-default{"ng-repeat" => "card in game.my_cards"}
      {{ card.role }}

  %h1 Roles
  #gameRoles
    %span.label.label-default{"ng-repeat" => "(role, info) in game.roles"}
      %a{"ng-if" => "choiceToConfirm", "ng-click" => "addRoleArg(role)"} {{ role }}
      %span{"ng-if" => "!choiceToConfirm"} {{ role }}
      {{ info.tokens.join(', ') }}

  %h1 Chat
  #chat{"scroll-glue" => true}
    %div{"ng-repeat" => "message in messages"}
      [{{ formatTime(message.time) }}] {{ message.user }}: {{ message.message }}

  %form#chatform.form-inline{"ng-submit" => "sendChat(msg)"}
    .form-group
      %input#msg.form-control{placeholder: "type message here", "ng-model" => "msg"}
    .form-group
      %button.btn.btn-default{"ng-disabled" => "!game.winner && !game.my_username", type: "submit"} Send Message

  %span Game {{ game.id }} started {{ formatTime(game.start_time) }}
