#game.container{role: "main", "ng-controller" => "GameController"}
  .alert.alert-danger{role: "alert", "ng-if" => 'disconnectedBy'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Error:
    You've been disconnected by {{ disconnectedBy }}

  #chat
    %div{"ng-repeat" => "message in messages"}
      [{{ formatTime(message.time) }}] {{ message.user }}: {{ message.message }}

  %form#chatform.form-inline{"ng-submit" => "sendChat(msg)"}
    .form-group
      %input#msg.form-control{placeholder: "type message here", "ng-model" => "msg"}
    .form-group
      %button.btn.btn-default{type: "submit"} Send Message

  %form#leaveGame{action: "/games/leave", method: "post"}
    .form-group
      %button.btn.btn-danger{type: "submit"} Leave Game
