#lobby.container{role: "main", "ng-controller" => "LobbyController"}
  .alert.alert-danger{role: "alert", "ng-if" => 'disconnectedBy'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Error:
    You've been disconnected by {{ disconnectedBy }}

  %table.table.table-striped
    %thead
      %tr
        %th Game ID
        %th Started
        %th Players
        %th
    %tbody
      %tr{"ng-if" => "games.length == 0"}
        %td{colspan: 3} No games!
      %tr{"ng-repeat" => "game in games"}
        %td {{ game.id }}
        %td {{ game.start_time }}
        %td {{ game.usernames.join(', ') }}
        %td
          -# TODO: Watch game

  #chat
    %div{"ng-repeat" => "message in messages"}
      {{ message.user }}: {{ message.message }}

  %form#chatform.form-inline{"ng-submit" => "sendChat(msg)"}
    .form-group
      %input#msg.form-control{placeholder: "type message here", "ng-model" => "msg"}
    .form-group
      %button.btn.btn-default{type: "submit"} Send Message
