#lobby.container{role: "main", "ng-controller" => "LobbyController"}
  %table.table.table-striped
    %thead
      %tr
        %th Game ID
        %th Started
        %th Players
        %th
    %tbody
      %tr{"ng-if" => "games.length == 0"}
        %td{colspan: 3} No games!
      %tr{"ng-repeat" => "game in games"}
        %td {{ game.id }}
        %td {{ game.start_time }}
        %td {{ game.usernames.join(', ') }}
        %td
          -# TODO: Watch game
